* {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box; 
}

html {
  background: linear-gradient(to bottom, #deeeef, #002A54);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex; 
  width: 100%;
  background-color: rgb(245, 236, 236);
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; 
  z-index: 1000;
}

#main {
  flex-grow: 1;
}

#main > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #002A54;
  font-size: 25px;
  text-decoration: none;
  padding: 2em;
  font-weight: bold;
}

a:hover {
  color: #FFC906;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

#footer {
  position: sticky;
  background-color: darkgrey;
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
}

.card {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.card img {
  width: 100%; 
  border-radius: 4px; 
}

.card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  padding-bottom: 5px;
}

.card button {
  margin-top: 10px;
  background-color: #dc493c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card button:hover {
  background-color: #ff5c50;
}

.card a {
  text-decoration: none;
  color: #002A54;
  font-weight: bold;
}

.card a:hover {
  color: #FFC906;
}

.card-link {
  font-size: 14px;
}

.nav-button {
  background-color: #dc493c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.individual-card {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.individual-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  padding-bottom: 5px;
}

.individual-card button {
  margin-top: 10px;
  background-color: #dc493c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.individual-card button:hover {
  background-color: #ff5c50;
}

.individual-card img {
  max-width: 300px;
  border-radius: 15px;
}

.ind-image {
  align-items: center;
}

.header {
  text-align: center;
  margin-top: 20px;
  color: #002A54;
}

form {
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #ffffff;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

form button {
  margin-top: 10px;
  background-color: #dc493c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-right: 10px;
}

form input {
  margin-top: 5px;
  border-radius: 4px;
}